<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Upload Face with ID</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Upload Face (filename = face's name (i.e. John_Smith.jpg)</h1>
          <hr />

          <form
            action="/upload-image"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="form-group">
              <label>Select image</label>
              <div class="custom-file">
                <input
                  type="file"
                  class="custom-file-input"
                  name="image"
                  id="image"
                />
                <label class="custom-file-label" for="image"
                  >Select image...</label
                >
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
          </form>
        </div>
      </div>
    </div>

    <img src="{{ url_for('send_uploaded_file', filename=uploaded_image) }}" />
  </body>
</html>
